# Default owners for everything in the repo
*       @dkorobtsov

# For Codeowners syntax please see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax